@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

.headertable{
	margin: 0;
	padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    font-size: 120%;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    width:110%;
    background-color: #7386ff;
    color: white;
}

nav ul li{
    padding: 0 10px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

.btn1 {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 15px;
}

.join-container {
	max-width: 700px;
	max-height: 700px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 25px auto;
    width: 80%;
    border-radius: 12px;
    padding: 30px;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.ItemContainer{
    margin-top: 80px;
}

.Item{
    height: 35px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.Item img{
    width: 30px;
    margin: 0 20px;
    border-radius: 20px;
}

.alert{
    width: 100%;
    background: rgb(252, 82, 56);
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    display: none;
}

@media only screen and (max-width: 100px) {
    body {
      background-color: red;
    }
}